[Unit]
Description=Bootstrap Services

[Service]
PassEnvironment=PATH USERNAME USERFULLNAME PYTHONPATH AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_DEFAULT_REGION
Type=simple
ExecStart=/bin/bash -c "/sbin/start.sh"

[Install]
WantedBy=multi-user.target